@font-face {
    font-family: serif, BonaNovaSC;
    src: url(assets/fonts/BonaNovaSC-Regular.ttf);
}
*{
    box-sizing: border-box;
}

.header{
    border: 1px solid black;
    background-color: lightgreen;

}
.main{
    border: 1px solid red;
}
.footer{
    border: 1px solid blue;
}
.body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.list{
display: flex;
justify-content: center;
align-items: center;
list-style: none;
}
html{
    scroll-behavior: smooth;
}

.link{
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:black;
    transition: 0.3s;
}
.link:hover{
    color:brown;
    font-size: 22px;
}

